body {
	background-color: #f2f2f2;
	color: #666;
	font-family: "Georgia", "Times New Roman", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	min-width: 780px;
	max-width: 780px;
	min-height: 180px;
	max-height: 1000px;
}

::-webkit-scrollbar {display:none;}

.header {
	display:inline;
	text-align:center;
	color: #333;
}

.title {
	font-weight: bold;
}

.container {
	width: 750px;
	height: 700px;
}